body{
    background-color: rgb(255, 208, 0);
    color: rgb(179, 9, 9);
}

.McQueen{
background-color: rgb(196, 8, 8);
}

.mate{
    background-color: floralwhite;
    padding: 20px;
    border-radius: 10px;
}
h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    
h1{
    font-family: fantasy;
}