body{
    background-color: rgb(255, 208, 0);
    color: rgb(179, 9, 9);
}

.McQueen{
background-color: rgb(241, 236, 236);
}

.mate{
    background-color: floralwhite;
    padding: 20px;
    border-radius: 10px;
}